<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="skin-megna fixed-layout">
    <div *ngIf="isLoggedIn" id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <button class="navbar-toggler custom-hamburger-display" type="button" (click)="toggleSidebar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-header d-flex justify-content-between align-items-center">
                    <a class="navbar-brand"><b>
                            <img src="./assets/images/logo.png" alt="logo" class="light-logo" />
                        </b>
                        <span class="hidden-xs"> FromHearty</span>
                    </a>

                    <div (click)="toggleAccessibilitySettings()"
                        style="display:flex; align-items: center; cursor: pointer; margin-right: 20px;">
                        <i *ngIf="isAccessibilityOn" class="fas fa-eye-slash" style="font-size: 18px; color: white"></i>
                        <i *ngIf="!isAccessibilityOn" class="fas fa-eye" style="font-size: 18px; color:white"></i>
                    </div>


                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <!--
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a
                                class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
                                href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <li class="nav-item">
                            <form class="app-search d-none d-md-block d-lg-block">
                                <input type="text" class="form-control" placeholder="Search & enter">
                            </form>
                        </li>
                        -->
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end mailbox animated bounceInDown">
                            <ul>
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                            </ul>
                        </div> -->
                        </li>
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="icon-note"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu mailbox dropdown-menu-end animated bounceInDown" aria-labelledby="2">
                            <ul>
                                <li>
                                    <div class="drop-title">Messages</div>
                                </li>
                            </ul>
                        </div> -->
                        </li>
                        <li class="nav-item dropdown u-pro">
                            <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href=""
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="" alt="user"
                                class=""></a> -->
                            <div class="dropdown-menu dropdown-menu-end animated flipInY">
                                <a class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"><i class="ti-settings"></i> Account Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" [class.open]="isSidebarOpen">
            <div class="scroll-sidebar">
                <div class="close-button custom-hamburger-display" (click)="toggleSidebar()">
                    <i class="material-icons">close</i>
                </div>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">--- PAGES</li>
                        <li *ngIf="isHouseDoctor()"> <a class="waves-effect waves-dark" href="#"
                                routerLink="doctor-dashboard"><i class="far fa-chart-bar"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li *ngIf="isCardiolog()"> <a class="waves-effect waves-dark" href="#"
                                routerLink="cardiologist-dashboard"><i class="far fa-chart-bar"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li *ngIf="isCardiolog()"> <a class="waves-effect waves-dark" href="#" routerLink="calendar"><i
                                    class="fas fa-calendar"></i><span class="hide-menu">Calendar</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="#" routerLink="patients"><i
                                    class="fas fa-heartbeat"></i><span class="hide-menu">Patients</span></a></li>
                        <li class="nav-small-cap">--- SUPPORT</li>
                        <li><a class="waves-effect waves-dark" aria-expanded="false" (click)="logout()"><i
                                    class="fa fa-power-off"></i><span class="hide-menu">Log Out</span></a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>


    <app-login *ngIf="!isLoggedIn"></app-login>
</body>